#root {
  min-height: 590px;
}

.App {
  max-width: 100%;
  min-height: 590px;
  height: 100%;
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

.text {
  text-align: left;
  margin: 0 0 4px;
  font-weight: 500;
}

#input-bar {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

#input-bar:focus {
  outline: 1px solid cadetblue;
}
